<nav class="navbar bg-light navbar-expand-lg nav colorfont  text-light navbar-area d-flex align-center fixed-top pl-0 pr-0 ">
    <div class="container contenedor-nav ">
        <div class="row mx-auto mw-100 w-100">
            <div class="col-4 p-0 ">
                <img src="assets/images/logo.png" class="logo float-left">
            </div>
            <div class="col-6 p-0 ">
                <div id="collapsibleNavbar" class="collapse navbar-collapse enlaces navbar-text bg-light border-dark justify-content-center">
                    <ul class="navbar-nav enlaces align-self-center  ">
                        <li>
                            <a class="active page-scroll " href="#home">home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Servicios</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#portfolio">Trabajos Destacados</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">Nosotros</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">encuentranos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-2 text-center align-items-center justify-content-center">
                <button class="navbar-toggler btntogle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <i class="fas fa-bars text-dark fa-2x"></i> <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</nav>