<nav id="nav" class="navbar navbar-expand-lg  navbar-light navbar-area d-flex align-center fixed-top pl-0 pr-0 h100">
    <div class="container ">
        <div class="row mx-auto mw-100 w-100">
            <div class="col-12 ">
                <img src="assets/images/logo.png" class="logo float-left">
                <div class=" p-0 float-right ">
                    <button class="navbar-toggler  " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                </div>

                <div id="collapsibleNavbar" class="collapse navbar-collapse enlaces navbar-text  justify-content-center">

                    <ul class="navbar-nav enlaces align-self-center ">
                        <a class="active page-scroll " href="#home">home</a>
                        <a class="page-scroll" href="#services">Servicios</a>
                        <a class="page-scroll" href="#portfolio">Trabajos Destacados</a>
                        <a class="page-scroll" href="#pricing">Pricing</a>
                        <a class="page-scroll" href="#about">Nosotros</a>
                        <a class="page-scroll" href="#team">Team</a>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </ul>
                </div>

            </div>


        </div>
    </div>

</nav>