<nav class="navbar navbar-expand-lg nav colorfont text-light navbar-area d-flex align-center fixed-top pl-0 pr-0 h100">
    <div class="container contenedor-nav ">
        <div class="row mx-auto mw-100 w-100">
            <div class="col-12 ">
                <img src="assets/images/logo.png" class="logo float-left">
                <div class=" p-0 float-right ">
                    <button class="navbar-toggler  " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                </div>
                <div id="collapsibleNavbar" class="collapse navbar-collapse enlaces navbar-text  justify-content-center">

                    <ul class="navbar-nav enlaces align-self-center text-light ">
                        <a class="active page-scroll " href="#home">home</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <div class="row">

        <div class="col--12">

            <div class="container">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <h3>Mantenimiento general de areas verdes </h3>
                    </div>
                </div>


                <div class="row">

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <p>Se elabora un plan de mantenimiento de acuerdo a las necesidades propias y particulares del area.</p>
                        <ul>
                            <li>Poda de césped, plantas y árboles.</li>
                            <li>Riego, fertilización y abono.</li>
                            <li>Limpieza: Recolección de hojas secas, ramas, hierbas, etc.</li>
                            <li>Poda de formación: proporcionar el tamaño y la forma deseada.</li>
                        </ul>

                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">




                    </div>
                </div>


            </div>


        </div>

    </div>

</div>