<header>


    <div class="text-white py-5 abajo">
        <div class="container-fluid">
            <div class="row d-flex ">
                <div class="col-lg-8 col-md-7 col-sm-7 mititulo text-center justify-content-center align-self-center ">
                    <h2>Te mereces un hogar con un hermoso jardin.</h2>
                    <h4>hazlo posible </h4>
                    <h2>Nosotros te ayudamos.</h2>
                    <!--  <a href="#" class="btn btn-light btn-lg text-black">
                            Registrate
                          </a> -->
                </div>
                <div class="col-lg-4 col-md-5 col-sm-5 mititulo text-center justify-content-center align-self-center d-none d-md-block ">
                    <form action="">
                        <div class="form">
                            <h2>Contactanos</h2>
                            <div class="grupo">
                                <input type="text" name="id1a" id="1" required><span class="barra"></span>
                                <label>Nombre</label>
                            </div>
                            <div class="grupo">
                                <input type="email" name="id2b" id="2" required><span class="barra"></span>
                                <label>Email</label>
                            </div>
                            <div class="grupo">
                                <input type="Telefono" name="id3c" id="3" required><span class="barra"></span>
                                <label>Telefono</label>
                            </div>
                            <div class="grupo">
                                <textarea name="" id="4" rows="id4d" required></textarea><span class="barra"></span>
                                <label>Mensaje</label>
                            </div>
                            <button id="botonform" name="botonform" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</header>

<main>
    <div class="container " id="servicio">
        <div class="row">
            <div class="contenedor col-sm-12 mt-1">
                <h3>Nuestros servicios</h3>
                <p class="after">Calidad y Excelencia</p>
            </div>
        </div>
        <div class="sercontenedor container">
            <div class="row">
                <div class="col-sm-3 mt-1">
                    <div class="cardd ">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/img/mantebasico.png" alt="">
                                <p class="after"> Mantenimiento Basico </p>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mt-1">
                    <div class="cardd">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/img/mantecompleto.png" alt="">
                                <p class="after"> Mantenimiento Completo </p>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mt-1">
                    <div class="cardd">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/img/planta.png" alt="">
                                <p class="after"> diseño de jardines </p>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mt-1">
                    <div class="cardd">
                        <div class="face face1">
                            <div class="content">
                                <img src="assets/img/planta.png" alt="">
                                <p class="after"> Cultivo de Plantas </p>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container about  ">
        <div class="row">
            <div class="col-12">
                <div class="cardt col-sm-12 col-8 mt-5 ">
                    <section class="team contenedor" id="about">


                        <div class="card-title">
                            <h3>Quienes Somos</h3>
                            <p class="after">Conoce a la gente asombrosa y creativa</p>
                        </div>
                        <div class="card-body ">
                            <p class="card-text  text-justify  mb-5">
                                Empresa que cuenta con de más de 10 años de experiencia realizando proyectos de jardineria, servicios y mantenimiento a su jardin.
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <section class="work contenedor" id="trabajo">
        <h3>Nuestro trabajo</h3>
        <p class="after">Hacemos de algo simple algo extraordinario</p>
        <div class="botones-work">
            <ul>
                <li class="filter active" data-nombre='todos'>Todos</li>
                <li class="filter" data-nombre='diseño'>Mantanimiento</li>
                <li class="filter" data-nombre='programacion'>Jardines</li>
                <li class="filter" data-nombre='marketing'>Otro</li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="galeria-work">
                        <div class="cont-work programacion">
                            <div class="img-work">
                                <img src="assets/img/programacion1.jpeg" alt="">
                            </div>
                            <div class="textos-work">
                                <h4>Jardines</h4>
                            </div>
                        </div>
                        <div class="cont-work programacion">
                            <div class="img-work">
                                <img src="assets/img/programacion2.jpeg" alt="">
                            </div>
                            <div class="textos-work">
                                <h4>Jardines</h4>
                            </div>
                        </div>
                        <div class="cont-work programacion">
                            <div class="img-work">
                                <img src="assets/img/programacion3.jpeg" alt="">
                            </div>
                            <div class="textos-work">
                                <h4>Jardines</h4>
                            </div>
                        </div>
                        <div class="cont-work diseño">
                            <div class="img-work">
                                <img src="assets/img/diseño1.jpeg" alt="">
                            </div>
                            <div class="textos-work">
                                <h4>Jardines</h4>
                            </div>
                        </div>
                        <div class="cont-work diseño">
                            <div class="img-work">
                                <img src="assets/img/diseño2.jpeg" alt="">
                            </div>
                            <div class="textos-work">
                                <h4>Mantenimiento</h4>
                            </div>
                        </div>
                        <div class="cont-work diseño">
                            <div class="img-work">
                                <img src="assets/img/diseño3.jpeg" alt="">
                            </div>
                            <div class="textos-work">
                                <h4>Mantenimiento</h4>
                            </div>
                        </div>
                        <div class="cont-work marketing">
                            <div class="img-work">
                                <img src="assets/img/marketing1.jpeg" alt="">
                            </div>
                            <div class="textos-work">
                                <h4>Otros</h4>
                            </div>
                        </div>
                        <div class="cont-work marketing">
                            <div class="img-work">
                                <img src="assets/img/marketing2.jpeg" alt="">
                            </div>
                            <div class="textos-work">
                                <h4>Otros</h4>
                            </div>
                        </div>
                        <div class="cont-work marketing">
                            <div class="img-work">
                                <img src="assets/img/marketing3.jpeg" alt="">
                            </div>
                            <div class="textos-work">
                                <h4>Otros</h4>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>
</main>