a:link {
    color: red;
}


/* visited link */

a:visited {
    color: green;
}


/* mouse over link */

a:hover {
    color: hotpink;
}


/* selected link */

a:active {
    color: blue;
}

.borderinfo {
    border-style: solid;
    border-color: green;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5%;
}

@media only screen and (max-width: 880px) {
    .borderinfo {
        display: none;
    }
}

@media only screen and (max-width: 880px) {
    p {
        font-size: 10px;
    }
}