<!--====== FOOTER PART START ======-->

<section class="bg-dark  ">
    <div class="container-fluid ">
        <div class="row justify-content-center ">
            <div class="col-4 pb-2 ">
                <div class="text-center ">

                    <div class="row mt-20">

                        <div class="col-12 text-center text-light ">
                            <p class="title text-light "> Servicios </p>
                        </div>

                    </div>

                    <div class="row mt-10 ">

                        <div class="col-12 align-items-center justify-content-center d-flex">
                            <div class="row ">
                                <div class="col-12 ">
                                    <ul class="float-left align-items-left ">
                                        <li>
                                            <a href="https:/facebook.com">
                                                <p class="text-light">Mantenimiento general</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https:/facebook.com">
                                                <p class="text-light ">Acondicionamiento</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https:/facebook.com">
                                                <p class=" text-light">Sanidad de areas verdes</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https:/facebook.com">
                                                <p class=" text-light">Diseño y paisajismo</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-4 text-center  pt-60">
                <div class="text-center ">
                    <a class="footerlogo" href="#home"><img src="assets/images/icologo.png" alt="Logo "></a>
                </div>
            </div>
            <div class="col-4 pb-2 px-0">

                <div class=" container-fluid text-center   ">


                    <div class="row mt-20">

                        <div class="col-12 text-center text-light ">
                            <p class="text-light "> Contactanos </p>
                        </div>

                    </div>


                    <div class="row mt-10 borderinfo ">

                        <div class="col-12 ">
                            <div class="row ">
                                <div class="col-12 justify-content-between justify-content-center d-flex ">
                                    <div>
                                        <a><i class="fab fa-facebook-square text-light fa-3x"></i></a>
                                    </div>

                                    <div>
                                        <a><i class="fas fas fa-mobile-alt text-light fa-3x"></i></a>
                                    </div>

                                    <div>
                                        <a href="mailTo\Jardinera.GregorioLopez@gmail.com"><i class="fas fas fab fas fa-envelope text-light fa-3x"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row mt-20">

                        <div class="col-12 text-center text-light p-0  ">
                            <a class="main-btn rounded-two p-0" href="https://www.facebook.com/Jardinaria-Don-Gregorio-111887777202413/">
                                <p class="btn-link texto text-light "> Jardinaria don gregorio </p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="row badge-success my-auto py-0">
            <div class="col-12 text-center  my-auto ">

                <p class="text-light font-weight-bold text-size py-2 m-0 "> <span class="ae-u-bold"> © </span><span class="ae-u-bolder"> {{ anio }}  Jardineria Don Gregorio </span></p>
            </div>
        </div>
    </div>
    <!-- container -->
</section>

<!--====== FOOTER PART ENDS ======-->